# .NET
**/bin/
**/obj/
.vs/

# Angular / Node
**/node_modules/
**/.angular/
**/dist/

# IDE / OS
*.user
*.suo
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
!.env.example
**/appsettings.Development.json

# Logs
*.log